<!DOCTYPE html>
<html>

  <%- include('./partials/head') %> 

<body>
  <h1>Hello on my website</h1>
  
  <%- include('./partials/nav') %> 

  <div class="details content">
    <h2><%= blog.title %> </h2>
    <div class="content">
        <p><%= blog.body %> </p>
    </div>
    <a class="delete" data-doc="<%= blog._id %> ">delete</a>
  </div>
  <%- include('./partials/footer') %> 
  <script>
      const trashcan = document.querySelector('a.delete');

      trashcan.addEventListener('click', (e) => {
          const endpoint = `/blogs/${trashcan.dataset.doc}`;
          fetch(endpoint, {
              method: 'DELETE'
          })
          .then((response) => response.json())
          .then((data) => {
              console.log(data);
              window.location.href = data.redirect;
          })
          .catch(err => console.log(err));
      })
  </script>
</body>

</html>